/*
Created by Aaron Van Den Berg

Color Pallete from https://colorhunt.co/palette/0a26471442722052952c74b3


*/



body{
background: #121212;
	
}


body .a{
	color: #809fff;

}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:4;
}



