*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
 --text-color: #00E4FF;
}

body{
    background:#002B36;
    background-image: url(Gterminal.png);
    font-family: monospace;
    font-size: 18px;
    height:100%;
    width:100%;
    color: var(--text-color);
    line-height: 1.6;
}

a
{
  color: inherit;
  outline:0;
  text-decoration:none;
  font-weight: bold;
}

h1 {
color: var(--text-color);
font-size: 30px;
letter-spacing: -1px;
margin-bottom: 20px;
}

h2{
    
    color: var(--text-color);
}

h3{
    margin-bottom: 5px;
}

.hidden{
    display: none;
}

p{
    padding-bottom: 10px;
}

nav{
    width: 30%;
}

nav ul{
    list-style-type: none;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15;
}

nav ul li{
    color: var(--text-color);
    cursor: pointer;
}

.cursor{
font-weight: 700;
animation: 2s blink step-end infinite;
}

@keyframes blink {
    from, to{
        color:transparent;
    }

    50% {
        color: var(--text-color);
    }
}

.wb-body{
    background-color: #002B36;
    padding: 20px
}

.sclmd{
padding-top: 450px;

}


ul{

	display: flex;
	align-items: center;

}


li{
	display: flex;
	align-content: center;


}
